image: python:3.11-slim

stages:
  - test

cache:
  key: pip-cache
  paths:
    - .cache/pip

before_script:
  - python -V
  - pip install -U pip
  - pip install -r requirements.txt

test_job:
  stage: test
  script:
    - pytest -q --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: report.xml
    paths:
      - report.xml

