stages:
  - test
  - report

image: python:3.11-slim

cache:
  key: pip-cache
  paths:
    - .cache/pip

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

test_job:
  stage: test
  script:
    - python --version
    - pip install -U pip
    - pip install pytest
    - pytest -q || true
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - .cache/pip/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'


report_job:
  stage: report
  script:
    - echo "Report placeholder"
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - .
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

